body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a.social-links, a#scroll-prompt, a:link {
  color: white;
  position: relative;
}

#content {
  width: 100%;
  background-color: #050b2b;
}

.project-block {
  height: 100%;
  padding-top: 200px;
  background-color: #050b2b;
  color: white;
}

.media-block {
  width: 85%;
  margin: 25px;
}

#landing-page {
  width: 100vw;
  margin: auto;
  height: 100vh;
  background-image: url("Resources/oculus.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  text-shadow: black 0px 0px 20px;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

#about-container {
  width: 100%;
  text-align: center;
  padding-top: 150px;
  padding-left: 50px;
  padding-right: 50px;
}

#about-container .about-col {
  padding: 0 50px;
}

.media-block#capture-gif {
  text-align: center;
}

#block.capture-gif {
  padding-top: 20px;
}

.media-block#robot-video {
  width: 55%;
  text-align: center;
}

.project-desc {
  margin: 25px;
  font-size: 20px;
}

#project-1 {
  padding-top: 0px;
}

#icons {
  size: 100px;
  margin-top: 10px;
}

#scroll-prompt-wrapper {
  text-align: center;
  color: white;
}

.projects-wrapper {
  margin: auto;
  width: 80%;
}

#project-section-title {
  color: white;
  text-align: left;
  margin-top: 200px;
  margin-bottom: 50px;
}

#project-section-title hr {
  display: block;
  color: white;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

#about-container hr {
  display: block;
  color: white;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

#contact-info-section {
  width: 100%;
  text-align: center;
  padding-bottom: 200px;
}

.row {
  margin: 0 !important;
}

#navbar {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.3);
}

#navbar .navlink {
  color: white;
  opacity: 1;
}